<!-- vista q recibe como modelo un array o lista de libros a pintar -->
@model List<Libro>
<div class="container">
    @if (Model.Count != 0)
   {
        @foreach (Libro item in Model)
        {
            <div class="row">
                <partial name="_VistaMiniLibro" model="item"/>
            </div>
        }
       
    } else
    {
        <div class="row">
            <p>No se han encontrado LIBROS de esa categoria...intentalo de nuevo</p>
        </div>
    }

</div>