@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

<div class="container">
       <div class="row">
           <div class="col">
               <h3><strong>Registro realizado correctamente</strong> en <img src="~/images/agapea-logo.svg" width="186px" height="85px" /></h3>
               <p>Para completar el proceso acceda al enlace incluido en el EMAIL que el acabamos de enviar.</p>
               <p>Si no lo recibe, compruebe en su carpeta de SPAM o Correo no deseado.</p>
           </div>
       </div>
       <button class="btn btn-primary btn-lg" asp-controller="Tienda" asp-action="Libros">VOLVER A LA TIENDA</button>
</div>